body{
	background: blue;
    overflow-x: hidden;
    overflow-y: hidden;
}
#container,h2{
	color: white;
	text-align: center;
}
div ul li
{
	display: inline-block;
    margin-left: -20px;
    padding: 10x;
}
a
{
	text-decoration: none;
	margin-left: 50px;
	color: #f8f5f5;
	text-align: left;
	font-size: 25px;
	font-family:Arial Narrow;
}
#menu{
    margin-top: -9px;
	padding: 15px;

	
}
.coordonnées{
	margin-top: -350px;
	margin-left: 75px;
}
.coordonnées td{
	color:white;
	font-size: 20px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.coordonnées strong{
	color: rgb(13, 236, 47);
	font-size: 25px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.gouts{
	margin-left: 60%;
	margin-top: -277px;
}
.gouts strong{
	color:rgb(13, 236, 47) ;
	font-size: 25px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.gouts label{
	color:white;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.identifiant{
	margin-left: 60%;
}
.identifiant strong{
		color:rgb(13, 236, 47) ;
		font-size: 25px;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#logo{
    margin-left: 900px;
    margin-top: -75px;
}
/*nos réseaux sociaux*/
.facebook{
   margin-top: 138px;
   margin-left: 40px;
    width: 155px;
    height: 105px;
}
.twitter{
    margin-left: -28px;
	margin-top:10px;
    width: 185px;
    height: 130px;
   
}
.instagram{
    margin-left: 115px;
	margin-top: -49px;
    width: 90px;
    height: 90px;
}
/*terminer pour les réseaux sociaux*/
.y1{
    color: white;
    margin-top: -102px;
    margin-left: 100px;
}
.y2{
    color: white;
   margin-top: -37px;
   margin-left: 220px;
}
.y3{
    color: white;
    margin-left: 330px;
    margin-top: -38px;
    
}